################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandExample/bin/Debug/netcoreapp3.1
/CommandExample/obj
*.user
